<ion-modal-view id="login-modal">
    <ion-header-bar align-title="center">
        <h1 class="title">{{'login_label'|translate}}</h1>
    </ion-header-bar>
    <ion-content>
        <div class="login-label">
            <p>
                {{'login_message'|translate}}
            </p>
        </div>


    </ion-content>
    <div class="bar bar-footer">
        <div class="row actions-buttons">
            <div class="col">
                <button class="button button-percorsi button-block button-bottom" ng-click="loginClose()">{{'login_popup_cancel' | translate}}</button>
            </div>
            <div class="col">
                <button class="button button-percorsi button-block button-bottom" ng-click="loginOpen()">{{'login_popup_ok' | translate}}</button>
            </div>
        </div>
    </div>
</ion-modal-view>
