<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar bar-percorsi">
            <ion-nav-buttons side="left">
                <!-- O: button-clear or button-icon -->
                <button class="button button-percorsi button-clear" menu-toggle="left">
                    <i class="icon ion-navicon"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-percorsi">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content class="leftmenu">
            <ion-list>
                <ion-item nav-clear menu-close item-icon-left href="#/app/categories">
                    <i class="icon voice-menu sco-home"></i>{{'menu_home' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left href="#/app/favorites">
                    <i class="icon voice-menu  sco-preferiti"></i>{{'menu_favorites' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="startRatingSurvey()" ng-if="QUESTIONNAIRE">
                    <i class="icon voice-menu  sco-questionario"></i>{{'menu_questionnaire' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="logoutOpen()" ng-if="userIsLogged">
                    <i class="icon voice-menu  sco-log-out"></i>{{'menu_logout' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="loginOpen()" ng-if="!userIsLogged">
                    <i class="icon voice-menu  sco-log-out"></i>{{'menu_login' | translate}}
                </ion-item>

                <ion-item nav-clear menu-close item-icon-left ng-click="openModal(2)">
                    <i class="icon voice-menu  sco-credits"></i>{{'menu_credits' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
