<ion-view title="{{path.title | translate_remote}}">
    <!--
    <ion-nav-buttons>
        <a class="button button-icon icon ion-ios-arrow-back myback" ng-click="back()"> Back
        </a>
    </ion-nav-buttons>
-->
    <ion-nav-buttons>
        <!--
        <a class="button button-icon icon myback" ng-click="$ionicGoBack($event)"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
        </a>
-->
        <button ng-click="$ionicGoBack($event)" class="row button button-icon ion-ios-arrow-back">
        </button>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-percorsi button-clear" ng-click="toggleFavorite()">
            <i class="icon" ng-class="{'sco-bookmark-outline': !isFavorite, 'sco-bookmark': isFavorite}"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
        <!-- Rating -->
        <div class="rating-avg">
            <span class="rating-avg-txt">{{'avg_rating'| translate}}</span>
            <span style="white-space: nowrap;">
            <i ng-repeat="starType in getStars() track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
            </span>
        </div>
        <div class="row">
            <div class="col-25 col-offset-75 social-numbers"><span>{{path.voteCount}}</span><i class="icon sco-public"></i>
            </div>
        </div>
        <div class="separator"></div>
        <div class="row" ng-if="!rating.current && !rating.review">
            <div class="col">
                <button class="button button-percorsi button-block" ng-click="showVote()">
                    {{'pathdetailturist_voteinfo' | translate}}
                </button>
            </div>
        </div>
        <div ng-if="rating.current || rating.review">
            <div class="row">
                <span class="social-label">{{'pathdetailtourist_your_review'| translate}}</span>
            </div>
            <ion-item class="card myreview" ng-click="showVote()">
                <div class="padding-vertical">
                    <i ng-repeat="starType in mystars track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
                    <div>{{rating.review}}</div>
                </div>
            </ion-item>
        </div>

        <div class="row">
            <span class="social-label">{{'pathdetailturist_votes'| translate}}</span>
        </div>
        <!-- Reviews list -->
        <div class="emptylist" ng-if="emptylist">
            <!--<div class="item item-text-wrap">-->
            {{'pathdetailtourist_empty_list' | translate}}
            <!--</div>-->
        </div>
        <ion-list ng-if="!emptylist">
            <ion-item class="card" ng-repeat="review in reviews" ng-if="!!review.comment && getUserId() != review.contributor.userId">
                <div class="padding-vertical">
                    <h3 class="title">{{!!review.contributor.name ? review.contributor.name : ('pathdetailtourist_anonymous' | translate)}}</h3>
                    <!--<p>{{review.comment}}</p>-->
                    <div>{{review.comment}}</div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreReviewsAvailable" on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
