<ion-view class="details-info" title="{{item.title | translate_remote}}">

    <ion-nav-buttons>
        <!--
        <a class="button button-icon icon myback" ng-click="back()"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
        </a>
-->
        <button ng-click="back()" class="row button button-icon ion-ios-arrow-back">
        </button>

    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-percorsi button-clear" ng-click="toggleFavorite()">
            <i class="icon" ng-class="{'sco-bookmark-outline': !isFavorite, 'sco-bookmark': isFavorite}"></i>
        </button>
    </ion-nav-buttons>

    <ion-content has-header="true">
        <!-- Thumbnails slider -->
        <div ng-controller="DetailsSlideBoxCtrl" class="slide-box-container">

<ion-slide-box delegate-handle="path-details-slide-box" show-pager="false" does-continue="true" auto-play="true" ng-init="getAllItems(item)">
    <ion-slide ng-repeat="image in images track by $index">
        <div cover-img="{{image.url}}" ng-click="openModal('path-details-slide-box',-1)" ng-if="isAPicture(image)"></div>
        <div class="video" cover-img="{{youtubeEmbed(image.url)}}" ng-click="window.open('{{image.url}}', '_system');" ng-if="!isAPicture(image)">
            <i class="icon ion-play"></i>
        </div>
    </ion-slide>
</ion-slide-box>

            <button class="button button-percorsi button-fab" ng-click="openGallery()">
                <div>
                    <span><i class="icon ion-images"></i></span>
                </div>
            </button>

        </div>

        <!-- Path content -->
        <div class="padding content">
            <div ng-if="item.audios.length >0">
                <div class="audio-title">
                    {{'path_tracks_title' | translate}}
                </div>
                <div ng-controller="AudioPlayerCtrl" ng-init="setAudios(item.audios)" class="audio-player">
                    <button class="button button-percorsi button-clear button-icon" ng-click="audioPrev()">
                        <i class="icon ion-skip-backward"></i>
                    </button>
                    <button class="button button-percorsi button-clear button-icon button-play" ng-click="audioToggle()">
                        <i class="icon" ng-class="{'ion-play': !audioIsPlaying, 'ion-pause': !!audioIsPlaying}"></i>
                    </button>
                    <button class="button button-percorsi button-clear button-icon" ng-click="audioNext()">
                        <i class="icon ion-skip-forward"></i>
                    </button>
                    <div class="title">[{{audioTrack + 1}}/{{audios.length}}] {{audios[audioTrack].title | translate_remote| limitTo: 15}} {{(audios[audioTrack].title | translate_remote).length> 15 ? '...' : ''}}</div>
                </div>
                <div class="separator"></div>
            </div>
            <div class="path-numbers border">
                <div class="info-title">
                    {{'path_informations' | translate}}
                </div>
                <div class="path-length-detail" ng-hide="item.length == null">
                    <div class="icons-details">
                        <i class="icon  sco-length"></i>
                    </div>
                    <span>{{m2km(item.length)}} km</span>
                </div>
                <div class="path-time-detail" ng-hide="item.time == null">
                    <div class="icons-details">
                        <i class="icon ion-ios-clock-outline"></i>
                    </div>
                    <span>{{min2time(item.time)}}</span>
                </div>
                <div class="path-difficulty-detail" ng-class="{'d1': item.difficulty == 1, 'd2': item.difficulty == 2, 'd3': item.difficulty == 3}" ng-hide="item.difficulty == null">
                    <div class="icons-details">
                        <i class="icon ion-record"></i>
                    </div>
                    <span>{{'path_difficulty' | translate}} {{('path_difficulty_' + item.difficulty) | translate}}</span>
                </div>
                <div class="path-distance-detail">
                    <div class="icons-details">
                        <i class="icon sco-distance"></i>
                    </div>
                    <span ng-if="item.distancefromme != null">{{item.distancefromme|setDecimal:2}} km {{'path_from_me'|translate}}</span>
                    <span class="text-button" ng-if="item.distancefromme == null" ng-click="openLocConf()">{{'geolocation_error_message'|translate}}</span>
                </div>

            </div>


            <ion-item class="item-stable" ng-click="toggleGroupList(group)" ng-class="{active: isGroupListShown(group)}" ng-hide="noExtraListValues() || hideExpandListButton()||(translateDescription(item.description).length<300)">
                <div class="text-button">
                    {{'path_more_information' | translate}}
                </div>
            </ion-item>
            <div class="path-numbers border item-accordion" ng-show="isGroupListShown(group)">
                <div class="path-list-detail" ng-hide="item.cost == null">
                    <div class="icons-details">
                        <i class="icon ion-social-euro"></i>
                    </div>
                    <span>{{item.cost}}</span>
                </div>
                <div class="path-list-detail" ng-hide="item.parking == null">
                    <div class="icons-details">
                        <i class="icon sco-parking"></i>
                    </div>
                    <span>{{item.parking}}</span>
                </div>
                <div class="path-list-detail" ng-hide="item.transport == null">
                    <div class="icons-details">
                        <i class="icon ion-android-bus"></i>
                    </div>
                    <span>{{item.transport}}</span>
                </div>
                <div class="path-list-detail" ng-hide="item.accessibility == null">
                    <div class="icons-details">
                        <i class="icon sco-accessibility"></i>

                    </div>
                    <span>{{item.accessibility}}</span>
                </div>
            </div>
            <ion-item class="item-stable text-button" ng-click="toggleGroupList(group)" ng-class="{active: isGroupListShown(group)}" ng-hide="hideCloseListButton()||(translateDescription(item.description).length<300)">
                <div class="text-button">

                    {{'path_less_information' | translate}}
                </div>
            </ion-item>
            <div id="firstSeparator" class="separator"></div>
            <h3>{{item.title | translate_remote}}</h3>
            <div class="section" ng-class="{'expanded':(isDescriptionShown())||(translateDescription(item.description).length<300)}">
                <div class="description-info" compile="translateDescription(item.description)"></div>
                <div class="fadeout" ng-hide="hideExpandDescriptionButton()||(translateDescription(item.description).length<300)"></div>
            </div>
            <ion-item class="item-stable text-button" ng-click="toggleDescription()" ng-class="{active: isDescriptionShown()}" ng-hide="hideExpandDescriptionButton()||(translateDescription(item.description).length<300)">
                <div class="text-button">

                    {{'path_more_information' | translate}}
                </div>
            </ion-item>
            <ion-item class="item-stable text-button" ng-click="toggleDescription()" ng-class="{active: isDescriptionShown()}" ng-hide="hideCloseDescriptionButton()||(translateDescription(item.description).length<300)">
                <div class="text-button">

                    {{'path_less_information' | translate}}
                </div>
            </ion-item>
            <div class="separator"></div>

        </div>
        <!-- Path POIs -->
        <div class="itinerary padding-horizontal padding-bottom">
            <h4>{{'path_itinerary' | translate }}</h4>

            <div class="list">


                <ion-item class="item poi-list-item-container" ng-repeat="poi in item.pois" ng-click="showPoi($index)" class="item-thumbnail-left">
                    <div style="background-image: url({{poi.images[0].url}})" class="poi-list-item-bg"></div>
                    <!--                    <img ng-src="{{poi.images[0].url}}">-->
                    <div class="poi-list-item">{{$index + 1}} . {{poi.title | translate_remote}}</div>
                </ion-item>
                </a>
            </div>
    </ion-content>
</ion-view>