<ion-view title="{{path.title | translate_remote}}">
    <!--
    <ion-nav-buttons>
        <a class="button button-icon icon ion-ios-arrow-back myback" ng-click="back()"> Back
        </a>
    </ion-nav-buttons>
-->
    <ion-nav-buttons>
        <!--
        <a class="button button-icon icon myback" ng-click="back()"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
        </a>
-->

        <button ng-click="back()" class="row button button-icon ion-ios-arrow-back">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-percorsi button-clear" ng-click="toggleFavorite()">
            <i class="icon" ng-class="{'sco-bookmark-outline': !isFavorite, 'sco-bookmark': isFavorite}"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div id="map-container" data-tap-disabled="true">
            <leaflet event-broadcast="events" center="center" markers="pathMarkers" paths="pathLine" id="tabMap"></leaflet>
        </div>
    </ion-content>
    <!--
<button id="button-start" class="button button-full button-percorsi button-start" ng-click="detail(0)">
    {{'pathdetailmap_startpath' | translate}}
</button>
-->
</ion-view>