<ion-view title="{{path.title | translate_remote}}">
    <ion-nav-buttons>
        <!--
        <a class="button button-icon icon myback" ng-click="$ionicGoBack($event)"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
        </a>
-->
        <button ng-click="$ionicGoBack($event)" class="row button button-icon" ng-class="backButtonStyle">
        </button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-percorsi tabs-top">
        <ion-tab icon="ion-information" href="#/app/path/info">
            <ion-nav-view name="app-pathdetail-info"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-map" href="#/app/path/map">
            <ion-nav-view name="app-pathdetail-map"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-pizza" href="#/app/path/near">
            <ion-nav-view name="app-pathdetail-near"></ion-nav-view>
        </ion-tab>
        <ion-tab icon="ion-android-star-half" href="#/app/path/turist" ng-if="isSocialTabVisible()">
            <ion-nav-view name="app-pathdetail-turist"></ion-nav-view>
        </ion-tab>
<!--
<ion-tab title="{{'path_info' | translate}}" href="#/app/path/info">
    <ion-nav-view name="app-pathdetail-info"></ion-nav-view>
</ion-tab>
<ion-tab title="{{'path_map' | translate}}" href="#/app/path/map">
    <ion-nav-view name="app-pathdetail-map"></ion-nav-view>
</ion-tab>
<ion-tab title="{{'path_turist' | translate}}" href="#/app/path/turist" ng-if="isSocialTabVisible()">
    <ion-nav-view name="app-pathdetail-turist"></ion-nav-view>
</ion-tab>
-->
    </ion-tabs>
</ion-view>