<ion-view class="details-info" title="{{path.title | translate_remote}}" cache-view="false">
    <!-- Navigation buttons -->
    <!--
   <ion-nav-buttons>
    <a class="button button-icon icon ion-ios-arrow-back myback" ng-click="back()"> Back
        </a>
</ion-nav-buttons>
-->
    <ion-nav-buttons>
        <!--
        <a class="button button-icon icon myback" ng-click="$ionicGoBack($event)"> <i ng-class="{ 'ion-android-arrow-back': platform.isAndroid(),  'ion-ios-arrow-back': !platform.isAndroid()}" class="icon"></i>
        </a>
-->
        <button ng-click="$ionicGoBack()" class="row button button-icon ion-ios-arrow-back">
        </button>
    </ion-nav-buttons>
    <div class="bar bar-percorsi bar-subheader">
        <button class="button button-percorsi button-clear button-poi-nav-left" ng-click="prevPOI()" ng-class="{'hidden': firstPOI}">
            <i class="ion-chevron-left"></i>
        </button>
        <h2 class="title">{{currentItemIndex}}/{{path.pois.length}}</h2>
        <button class="button button-percorsi button-clear button-poi-nav-right" ng-click="nextPOI()" ng-class="{'hidden': lastPOI}">
            <i class="ion-chevron-right"></i>
        </button>
    </div>
    <ion-content class="has-header has-subheader">
        <!-- Thumbnails slider -->
        <div ng-controller="DetailsSlideBoxCtrl" class="slide-box-container">
            <ion-slide-box delegate-handle="poi-details-slide-box" show-pager="false" does-continue="true" auto-play="true">
                <ion-slide ng-repeat="image in imagesSlide track by $index">
                    <div cover-img="{{image.url}}" ng-click="openModal('poi-details-slide-box',-1)" ng-if="isAPicture(image)"></div>
                    <div class="video" cover-img="{{youtubeEmbed(image.url)}}" ng-click="window.open('{{image.url}}', '_system');" ng-if="!isAPicture(image)">
                        <i class="icon ion-play"></i>
                    </div>
                </ion-slide>
            </ion-slide-box>

            <!--
            <button class="button button-percorsi button-fab" ng-click="openAddimage()">
                <div>
                    <span><i class="icon ion-plus"></i></span>
                </div>
            </button>
-->

            <button class="button button-percorsi button-fab" ng-click="openGallery()">
                <div>
                    <span><i class="icon ion-images"></i></span>
                </div>
            </button>
        </div>
        <!-- POI content -->
        <div class="padding content">
            <div ng-if="item.audios.length >0">
                <div class="audio-title">
                    {{'path_tracks_title' | translate}}
                </div>
                <div ng-controller="AudioPlayerCtrl" ng-init="setAudios(item.audios)" class="audio-player">
                    <button class="button button-percorsi button-clear button-icon" ng-click="audioPrev()" ng-class="{'button-hidden': audioTrack == 0}">
                        <i class="icon ion-skip-backward"></i>
                    </button>
                    <button class="button button-percorsi button-clear button-icon button-play" ng-click="audioToggle()">
                        <i class="icon" ng-class="{'ion-play': !audioIsPlaying, 'ion-pause': !!audioIsPlaying}"></i>
                    </button>
                    <button class="button button-percorsi button-clear button-icon" ng-click="audioNext()" ng-class="{'button-hidden':audioTrack == (item.audios.length-1)}" }>
                        <i class="icon ion-skip-forward"></i>
                    </button>
                    <div class="title">[{{audioTrack + 1}}/{{audios.length}}] {{audios[audioTrack].title | translate_remote| limitTo: 15}} {{(audios[audioTrack].title | translate_remote).length> 15 ? '...' : ''}}</div>
                </div>
                <!--            <p class="detail-description">{{item.description | translate_remote}}</p>-->
                <div class="separator"></div>
            </div>
            <h3>{{item.title | translate_remote}}</h3> {{audios[audioTrack].title.length}}

            <div class="section" ng-class="{'expanded':isDescriptionShown()||(translateDescription(item.description).length<300)}">
                <div class="description-info" compile="translateDescription(item.description)"></div>
                <div class="fadeout"></div>
            </div>
            <ion-item class="item-stable text-button" ng-click="toggleDescription()" ng-class="{active: isDescriptionShown()}" ng-hide="hideExpandDescriptionButton()||(translateDescription(item.description).length<300)">
                <div class="text-button">

                    {{'path_more_information' | translate}}
                </div>
            </ion-item>
            <ion-item class="item-stable text-button" ng-click="toggleDescription()" ng-class="{active: isDescriptionShown()}" ng-hide="hideCloseDescriptionButton()||(translateDescription(item.description).length<300)">
                <div class="text-button">

                    {{'path_less_information' | translate}}
                </div>
            </ion-item>
            <div class="separator"></div>

            <div class="row">
                <div class="col">
                    <button class="button button-percorsi button-block" ng-click="goToMap()">{{'path_map' | translate}}</button>
                </div>
                <div class="col">
                    <button class="button button-percorsi button-block" ng-click="bringmethere([item.coordinates.lat, item.coordinates.lng])">{{'pathdetailmap_goto' | translate}}</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
