/* Empty. Add your own CSS if you like */

body {
    /*padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;*/
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

.modal-backdrop .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
    background-color: #000;
}

.modal-backdrop.active .modal-backdrop-bg {
    opacity: 0.8;
}


/*
#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
*/

@media screen and (orientation: portrait) {
    .angular-leaflet-map {
        width: 100%;
        height: 100%;
    }
    .row.actions-buttons {
        position: absolute;
        bottom: 0px;
    }
}

@media screen and (orientation: landscape) {
    .angular-leaflet-map {
        width: 100%;
        height: 100%;
    }
    .row.actions-buttons {
        position: relative;
        bottom: 0px;
    }
}

.added-image {
    align-content: center;
}

.hidden {
    visibility: hidden;
}

.emptylist {
    text-align: center;
}

.button {
    text-transform: uppercase;
    font-size: 1em;
}

.button.button-fab {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    padding: 32px;
    font-size: 40px;
    z-index: 9999;
}

.button.button-fab div {
    margin-top: 100%;
}

.button.button-fab div span {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    /* Note, this must be half the font size */
}

.button.button-percorsi {
    border-color: #01b2c4;
    background-color: #01b2c4;
    color: #fff;
}

.button.button-percorsi.add-image {
    margin: 15px;
}

.button.button-percorsi.button-clear {
    border: none;
    background: none;
    color: #01b2c4;
}

.button.button-percorsi.button-start {
    bottom: 0px;
    z-index: 99;
}

.bar.bar-percorsi {
    border-color: #009688;
    background-color: #009688;
    /*background-image: none;*/
    color: #fff;
}

.bar.bar-percorsi h1,
.bar.bar-percorsi h2 {
    color: white;
}

.bar.bar-percorsi .button {
    border-color: transparent;
    background-color: transparent;
    color: #fff;
}

.tabs-percorsi>.tabs,
.tabs.tabs-percorsi {
    border-color: #009688;
    border-color: transparent;
    background-color: #009688;
    background-image: linear-gradient(0deg, #009688, #009688 50%, transparent 50%);
    color: #fff;
}

.tabs-striped.tabs-percorsi .tabs {
    background-color: #009688;
}

.tabs-striped.tabs-percorsi .tab-item {
    /*color: rgba(255, 255, 255, .4);*/
    color: #fff;
    opacity: 1;
}

.tabs-striped.tabs-percorsi .tab-item.activated,
.tabs-striped.tabs-percorsi .tab-item.active,
.tabs-striped.tabs-percorsi .tab-item.tab-item-active {
    /*margin-top: -2px;*/
    color: #fff;
    border-style: solid;
    border-width: 0 0 4px !important;
    border-color: #01B2C4;
}

.card {
    margin: 5px;
    box-shadow: none;
}

.card:last-child {
    margin-bottom: 0;
}

#categories .card .item-content {
    padding: 0;
}

#categories .card .title {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    padding: 8px;
    /*0.5em;*/
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #009688;
    text-transform: uppercase;
    font-weight: bold;
}

.path-numbers {
    padding-top: 8px;
    width: 100%;
}

.path-numbers div {
    display: inline-block;
}

.path-numbers div:not(:first-child) {
    /*    padding-left: 8px;
    */
    /*1em;*/
}

.path-numbers i {
    font-size: 32px;
    /*2em;*/
}

.path-numbers span {
    /*    color: #009688;*/
    vertical-align: super;
}

.path-numbers .path-difficulty-detail.d1 i {
    color: green;
}

.path-numbers .path-difficulty-detail.d2 i {
    color: orange;
}

.path-numbers .path-difficulty-detail.d3 i {
    color: red;
}

.path-numbers.border {}

.path-length {
    padding: 4px;
    width: 30%;
    white-space: nowrap;
}

.path-time {
    padding: 4px;
    width: 30%;
    white-space: nowrap;
    margin-right: 4px;
}

.path-distance {
    padding: 4px;
    width: 30%;
    white-space: nowrap;
}

.path-difficulty {
    padding: 4px;
    width: 30%;
    white-space: nowrap;
}

.path-difficulty.d1 i {
    color: green;
}

.path-difficulty.d2 i {
    color: orange;
}

.path-difficulty.d3 i {
    color: red;
}

.path-list-detail {
    width: 100%;
    padding: 8px;
}

.path-list-detail.i {
    width: 30px
}

.path-difficulty-detail {
    width: 100%;
    padding: 8px;
}

.icons-details {
    width: 40px;
    align-items: center;
    padding-right: 48px;
}

.icon-difficulty {
    width: 40px;
    align-items: center;
}

.v-center {
    vertical-align: middle;
}

.path-length-detail {
    width: 100%;
    padding: 8px;
}

.path-time-detail {
    width: 100%;
    padding: 8px;
}

.path-distance-detail {
    width: 100%;
    padding: 8px;
}

#paths .path-numbers {
    position: absolute;
    bottom: 8px;
}

#paths .fav {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: larger;
}


/*
ion-slide div[cover-img] i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    opacity: 0.5;
    font-size: 5em;
}

.slide-box-container {
    position: relative;
}

.slide-box-container ion-slide {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.vote-star {
    padding: 8px;
    font-size: larger;
}

.cover-img {
    height: 180px;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.slide-box-container .button-fab {
    position: absolute;
    bottom: -32px;
    right: 16px;
}
*/

ion-slide div[cover-img] i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    opacity: 0.5;
    font-size: 5em;
}

.slide-box-container {
    position: relative;
}

.slide-box-container ion-slide {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.vote-star {
    padding: 4px;
    font-size: 55px;
    color: #01b2c4;
}

.slide-box-container ion-slide div[cover-img] {
    height: 180px;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.slide-box-container .button-fab {
    position: absolute;
    bottom: -32px;
    right: 16px;
}

.button.button-full {
    margin-top: 5px;
    margin-bottom: 10px;
}

.gallery-modal {
    background-color: transparent;
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.gallery-modal ion-header-bar {
    background-color: transparent;
}

.gallery-modal ion-header-bar h1 {
    visibility: hidden;
}

.gallery-modal .scroll,
.gallery-modal .slider {
    width: 100%;
    height: 100%;
}

.gallery-modal ion-slide img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.gallery-modal ion-slide i.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    opacity: 0.5;
    font-size: 5em;
}

.gallery-modal ion-slide p {
    position: absolute;
    bottom: 64px;
    margin: 0 auto;
    width: 100%;
    display: block;
    color: #fff;
    font-size: larger;
}

.gallery-modal ion-slide p:last-child {
    position: absolute;
    bottom: 32px;
    margin: 0 auto;
    width: 100%;
    display: block;
    color: #fff;
    font-size: larger;
}

.audio-player {
    position: relative;
    margin-top: 1em;
    margin: 0px;
    /*    border-bottom: 2px solid #9e9e9e;
    */
}

.audio-player .button-play {
    width: 40px;
}

.audio-player .title {
    display: inline-block;
    position: absolute;
    top: 1em;
    margin-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
}

.details-info .content {
    margin-top: 32px;
}

.details-info .itinerary li {
    padding: 5px 0;
}

.details-info .itinerary li span.poi-number {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
    margin-right: 0.5em;
}

.details-info .itinerary li span.poi-title {
    text-decoration: underline;
}

.details-info .buttons {
    text-align: center;
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon p {
    position: absolute;
    top: 8px;
    left: 12px;
}

.leaflet-marker-icon img {
    width: 32px;
    height: 32px;
}

.leaflet-popup-content-wrapper {
    width: 200px;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    width: 150px;
}

.leaflet-popup-tip-container {
    width: 150px;
}

.map-balloon {
    font-size: 14px;
    text-align: left;
}

.rating-avg {
    margin-top: 16px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

.rating-avg .rating-avg-txt {
    font-size: 16px;
    line-height: 40px;
    vertical-align: middle;
    /*    font-weight: bold;*/
}

.rating-avg .icon-rating {
    /*    color: #b2dfdb;*/
    margin: 0;
}

.voteValues {
    margin: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
}

.votePopup {
    text-align: center;
    vertical-align: middle;
    font-size: 90px;
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.vote-popup {
    text-align: center;
}

ul.rating {
    display: inline-block;
    text-align: center;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: black;
}

.navigation-button {
    text-align: center;
}

.navigation-button>button {
    margin: 8px;
    width: 33%;
}

.wrapper {
    position: relative;
    display: table;
    align-content: center;
    margin: 0 auto;
}

.wrapper img {
    display: block;
}

.image-added {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#addimages-modal .types-buttons {
    padding-top: 16px;
    text-align: center;
}

#addimages-modal .actions-buttons {
    text-align: center;
}

#addimages-modal .scroll {
    height: 100%;
}

.close:before {
    content: '✕';
    color: white;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

ion-side-menu ion-item {
    line-height: 24px;
    color: #ffffff !important;
    border: none !important;
}

ion-side-menu ion-item.disabled {
    color: lightgray;
}

ion-side-menu ion-item .icon {
    font-size: 24px;
    margin-right: 16px;
    color: #ffffff;
    opacity: 0.8;
}

.add-image-poi-select {
    text-align: left;
    margin: 16px;
}

.button.button-icon.icon.myback {
    padding: 0px;
    border: 0px;
    margin: 0px;
    text-align: center;
}

.image.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poi-list-item {
    /*    margin-top: 10px;*/
    color: #000000;
    position: absolute;
    padding: 28px;
    top: 0;
    left: 0;
}

.poi-list-item-container {
    padding: 0 !important;
    margin-bottom: 2px;
}

.poi-list-item-bg {
    background-size: 100%;
    width: 100%;
    height: 72px;
    opacity: 0.2;
}

.item.item-stable {
    border-color: #ffffff;
    background-color: #ffffff;
    text-align: right;
}

.text-button {
    color: #01b2c4;
}

.item.active.item-stable {
    border-color: #ffffff;
    background-color: #ffffff;
}

.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    border-width: 0px;
}

.item-accordion.ng-hide {
    line-height: 0px;
}

.item-accordion.ng-hide-add,
.item-accordion.ng-hide-remove {
    display: block !important;
}

.separator {
    border-bottom: 2px solid #9E9E9E;
}

.description-info {
    transition: 0.50s;
    max-height: 4em;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
}

.expanded .description-info {
    transition: 0.50s;
    text-align: justify;
    max-height: 500em;
    text-overflow: clip;
    overflow: auto;
    white-space: normal;
}

.description-info i {
    font-style: italic;
}

.description-info b {
    font-weight: bold;
}

.fadeout {
    position: absolute;
    bottom: 0em;
    width: 100%;
    height: 5em;
    background: -webkit-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -o-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.expanded .fadeout {
    background-image: none;
    background: transparent;
}

.section {
    position: relative
}

.audio-title {
    padding-left: 6px;
}

.info-title {
    padding-left: 6px;
}

.centered {
    vertical-align: middle;
}

.gallery-tile {
    position: relative;
    text-align: center;
}

.gallery-tile i.play-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    opacity: 0.5;
    font-size: 5em;
}

.button.button-balloon {
    margin: 0px;
}

.voice-menu {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    /* = width for a 1:1 aspect ratio */
    margin: 1.66%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
}

.gallery-square {
    height: 150px;
    background-position: center center;
}

.leaflet-container a.leaflet-popup-close-button {
    right: 4px;
    font: 24px/14px Tahoma, Verdana, sans-serif;
}

.gallery-tile .circle-type i.type-overlay {
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 3em;
}

.number-map {
    color: #fff;
}

.text-pop-up {
    text-align: center;
}

.gallery-tile .circle-type {
    text-align: center;
    position: absolute;
    bottom: 10%;
    right: 2%;
    border-color: #e1e1e1;
    !important background-color: #e1e1e1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 3px;
    font-size: 5px;
    z-index: 9999;
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;
}

.button.button-percorsi.circle-type {
    border-color: #009688;
    background-color: #009688;
}

.type-overlay.sco-institutional:before {
    font-size: 12px !important;
    line-height: 17px !important;
}

.sco-institutional {
    padding-right: 16px;
}

.sco-public {
    padding-right: 16px;
}

.type-overlay.sco-public:before {
    font-size: 12px !important;
    line-height: 17px !important;
}

.titlegallery {
    float: center;
    text-align: center;
}

.typegallery {
    float: center;
    text-align: center;
    font-size: large;
    padding-right: 8px;
}

.credit {
    padding-top: 10px;
}

.title.add-image-title {
    text-align: center;
    margin: 15px;
}

.item-thumbnail-left .item-content>img:first-child {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 120px;
    max-height: 100px;
}

.item-thumbnail-left .item-content {
    padding-left: 126px;
}

.leftmenu {
    background: url(../img/menu-bg.png);
    background-attachment: fixed;
    background-position: center;
}

.menu,
.view,
.item,
.item > a {
    background: transparent;
    background-color: transparent !important;
}

.social-numbers i {
    font-size: 24px;
    /*2em;*/
}

.social-numbers span {
    /*    color: #009688;*/
    font-size: 18px;
    vertical-align: super;
}

.social-label {
    font-size: 18px;
    text-transform: uppercase;
}

.myreview {
    margin-bottom: 20px !important;
    border-width: 2px;
    border-color: #01b2c4;
}

.myreview .icon-rating {
    font-size: 24px;
}

.title.vote-title {
    text-align: center;
    margin: 15px;
}

.item-input {
    border-width: 0px 0px 1px 0px;
}

.credits_title {
    text-align: center;
    color: #009688;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.credits_subtitle {
    text-align: center;
    color: #009688;
    font-size: 18px;
    font-weight: bold;
}

.credits_row {
    padding: 0;
    margin-bottom: 10px;
}

.credits_row.last {
    margin-bottom: 20px;
}

.credits_row.version {
    color: #aaa;
}

.credits_row.version .col {
    font-size: 12px;
    line-height: 12px;
}

.credits_mail {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.credits_version {
    text-align: center;
}

.close-credits {
    padding: 8px;
}

.login-title {
    text-align: center;
    margin: 8px;
}

.list-path .item-content {
    padding-right: 8px;
}

.list-fb-places {
    min-height: 50px;
}

.place-category {
    font-size: 10px;
}

.place-name {
    width: 80%;
}

.place-icons {
    min-width: 25px;
    color: #009688;
}

.item-button-right {
    min-height: 50px;
}

.button-poi-nav-right {
    width: 100px;
    text-align: right;
}

.button-poi-nav-left {
    width: 100px;
    text-align: left;
}

.button-hidden {
    color: #dadada!important;
}

.login-label {
    padding: 10px;
    text-align: center;
}

.button-bottom {
    min-height: 46px!important;
}

.category-card {
    min-height: 100px;
}

.order-popup .popup-body {
    height: 300px;
    background-color: white;
}

.order-popup .button {
    background-color: #009688;
    color: white;
}

.order-popup .popup-buttons {
    background-color: white;
}

.orderpopup-header {
    background-color: #009688;
}

.orderpopup-header h1 {
    color: white;
}

.radio-enabled {}

.radio-disabled {
    color: lightgray;
}


/*redefine style for checkbox*/

.ion-checkmark:before {
    color: #009688;
}

.item-radio input:checked ~ .item-content {
    background: #fff;
}

.item-radio input:checked + .item-content {
    background: #fff;
}

.item-radio input:checked + .radio-icon {
    visibility: visible;
}

.fb-places-modal {
    background-color: #009688;
    color: #009688;
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fb-places-modal ion-header-bar {
    background-color: #009688;
}

.fb-icon {
    color: #3b5998;
}